// out:false,main: ../LayoutSimple.less

// ie7 and up [display: inline-block]
.InBlock() { display: inline-block; *zoom: 1; *display: inline; }
.InBlock(@important) when (@important=true) { display: inline-block!important; *zoom: 1; *display: inline!important; }

// 快速设置左右或上下padding margin
.PaddingLR(@val) { padding-left: @val; padding-right: @val; }
.PaddingTB(@val) { padding-top: @val; padding-bottom: @val; }
.MarginLR(@val) { margin-left: @val; margin-right: @val; }
.MarginTB(@val) { margin-top: @val; margin-bottom: @val; }

// 快速设置圆角
.RadiusTLR(@val) { border-top-left-radius: @val; border-top-right-radius: @val; }
.RadiusBLR(@val) { border-bottom-left-radius: @val; border-bottom-right-radius: @val; }
.RadiusLTB(@val) { border-top-left-radius: @val; border-bottom-left-radius: @val; }
.RadiusRTB(@val) { border-top-right-radius: @val; border-bottom-right-radius: @val; }

// 适用于移动端，不兼容IE [多行超出显示省略号，@val为行数]
.MultiLineEllipsis(@val) { display: -webkit-box; -webkit-line-clamp: @val; -webkit-box-orient: vertical; text-overflow: ellipsis; overflow: hidden; }

.HeightHL(@val) { height: @val; line-height: @val; }
.WHSame(@val) { width: @val; height: @val; }
.WHLSame(@val) { width: @val; height: @val; line-height: @val; }
.Insulate(@val) { .MarginTB(@val); width: 100%; height: 0.01px; }

// 创建主题色彩样式
.CreateColCss(@colName, @col) {
  .txt_@{colName} { color: @col; }
}
.CreateColCss(@colName, @col, @type, @calc:30%) {
  .txt_@{colName} { color: @col; }
  .btn_@{colName} { background-color: @col; text-align: center; }
  .btn_@{colName}-simple { border: 1px solid @col; border-radius: 10px; color: @col; text-align: center; }

  #BtnCreate(@t) when (@t = lighten) {
    .btn_@{colName} { color: lighten(@col,@calc); }
  }
  #BtnCreate(@t) when (@t = darken) {
    .btn_@{colName} { color: darken(@col,@calc); }
  }
  #BtnCreate(@type)
}

// 字体图标生成
@customClass: e(%(".@{icon_prefix}"));
.AddIcon(@name, @content) {
  @{customClass}-@{name}:before {
    content: @content;
  }
}

// 循环生成标题字号
@end_h:1;
.FontTitle(@start_fs, @unit, @spacing, @start_h:6) when (@start_h >= @end_h) {
    @next_start_fs: @start_fs + @spacing;
    @next_start_h: @start_h - 1;
    .FontTitle(@next_start_fs, @unit, @spacing, @next_start_h);
    .txt-h@{start_h},.txt-fs@{start_h} { font-size: @start_fs/@unit; }
    .txt-h@{start_h} { .PaddingTB(@start_fs/2/@unit); }
}

// 边框颜色与背景宽度过渡式动画hover
.HoverBgBorder (@n,@color,@unit:1px) {
  .h-@{n} { .PaddingLR(10/@unit); position: relative; border: 1/@unit solid transparent;
    &::after { content: ''; position: absolute; top: 0; left: 0; opacity: 0.3; width: 0; height: 100%; background-color: tint(@color,50%); }
    &:hover,&:active { color: tint(@color,20%); border-color: tint(@color,50%);
      &::after { transition: width 1s; width: 100%; }
    }
  }
}

// 边框颜色与背景宽度[背景字色高反差]过渡式动画hover
.HoverBgBorder (@n, @color, @colorText, @unit:1px) {
  .h-@{n} { position: relative; border: 1/@unit solid transparent;
    &::after { content: ''; position: absolute; top: 0; left: 0; opacity: 0.3; width: 0; height: 100%; background-color: tint(@color,50%); }
    &:hover,&:active { color: tint(@colorText,20%); border-color: tint(@color,50%);
      &::after { transition: width 1s; width: 100%; }
    }
  }
}

// 下边线过渡式动画hover
.HoverBorderB (@n,@color,@unit:1px) {
  .h-@{n} { position: relative; padding-bottom: 2/@unit;
    &::after { content: ''; position: absolute; bottom: 0; left: 0; opacity: 0; width: 0; height: 2/@unit; background-color: tint(@color,50%); }
    &:hover,&:active {
      &::after { transition: width 1s, opacity 1s; width: 100%; opacity: 0.5; }
    }
  }
}

// 图片边框缩放式hover
.HoverImgScale (@n,@border:10px,@color:#fff) {
  .h-@{n} { position: relative; overflow: hidden;
    &::after { &:extend(.ly-box,.ly-wh100); content: ''; position: absolute; top: 0; left: 0; border: @border solid @color; opacity: 0; }
    &:hover,&:active {
      img { transform: scale(1.05); }
      &::after { transition: opacity 1s; opacity: 0.5; }
    }
  }
}

// 图片下边框缩放式hover
.HoverImgBScale (@n,@border:10px,@color:#fff) {
  .h-@{n} { position: relative; overflow: hidden;
    &::after { content: ''; position: absolute; bottom: -@border; left: 0; width: 100%; height: @border; background-color: @color; opacity: 0; }
    &:hover,&:active {
      img { transform: scale(1.05); }
      &::after { transition: bottom 1s, opacity 1s; opacity: 0.5; bottom: 0; }
    }
  }
}
