// out:false,main: ../LayoutSimple.less

// 主题色
@col_main1:#2672fb; // 主色1
@col_main2:#80b0fc; // 主色2
.CreateColCss(main1, @col_main1, lighten);  // txt_main1 btn_main1  btn_main1-simple
.CreateColCss(main2, @col_main2, lighten);  // txt_main2 btn_main2  btn_main2-simple


@col_tip-success:#8bc21f; // 安全提示色
@col_tip-warning:#FE9E4C; // 温馨提示色
@col_tip-danger:#FD6D6D; // 警告提示色
.CreateColCss(tip-success, @col_tip-success, lighten);  // txt_tip-success btn_tip-success  btn_tip-success-simple
.CreateColCss(tip-warning, @col_tip-warning, lighten);  // txt_tip-warning btn_tip-warning  btn_tip-success-simple
.CreateColCss(tip-danger, @col_tip-danger, lighten);    // txt_tip-danger  btn_tip-danger   btn_tip-success-simple


// 主题字体颜色
@col_text-normal:#333;        // 正常主字色
@col_text-regular:#666;       // 常规字色
@col_text-secondary:#999;     // 第二主色字
@col_text-placeholder:#ccc;   // input等提示字色
@col_text-border:#f3f3f3;     // 边框背景字色
@col_text-other:#fff;         // 其他字色

.CreateColCss(normal, @col_text-normal);              // txt_normal
.CreateColCss(regular, @col_text-regular);            // txt_regular
.CreateColCss(secondary, @col_text-secondary);        // txt_secondary
.CreateColCss(placeholder, @col_text-placeholder);    // txt_placeholder
.CreateColCss(border, @col_text-border);              // txt_border
.CreateColCss(other, @col_text-other);                // txt_other
